@tailwind base;
@tailwind components;
@tailwind utilities;



*,
::before,
::after {
    box-sizing: border-box;
}



html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    tab-size: 4;
}



body {
    /* Firefox supports this but not yet `system-ui` */
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    user-select: none; /* Prevent text selection */
    -moz-user-select: none; /* For Firefox */
    -webkit-user-select: none; /* For Chrome/Safari */
    -ms-user-select: none;
}

hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:-moz-focusring {
    outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
    box-shadow: none;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
    display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

button {
    background-color: transparent;
    background-image: none;
}

fieldset {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/**
 * Tailwind custom reset styles
 */
/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */
html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* 1 */
    line-height: 1.5;
    /* 2 */
}

*,
::before,
::after {
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: currentColor;
    /* 2 */
}

hr {
    border-top-width: 1px;
}

img {
    border-style: solid;
}

textarea {
    resize: vertical;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
}

button,
[role="button"] {
    cursor: pointer;
}

:-moz-focusring {
    outline: auto;
}

table {
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

pre,
code,
kbd,
samp {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    /* 1 */
    vertical-align: middle;
    /* 2 */
}

img {
    max-width: 100%;
    height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */
[hidden] {
    display: none;
}

*,
::before,
::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

*,
::before,
::after {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

*,
::before,
::after {
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
}

*,
::before,
::after {
    --tw-ring-inset: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
}

*,
::before,
::after {
    --tw-backdrop-blur: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-brightness: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-contrast: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-grayscale: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-hue-rotate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-invert: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-opacity: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-saturate: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-sepia: var(--tw-empty,
            /*!*/
            /*!*/
        );
    --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.inset-x-0 {
    left: 0px;
    right: 0px;
}

.top-0 {
    top: 0px;
}

.-bottom-4 {
    bottom: -1rem;
}

.-bottom-2 {
    bottom: -0.5rem;
}

.bottom-0 {
    bottom: 0px;
}

.bottom-1 {
    bottom: 0.25rem;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mr-5 {
    margin-right: 1.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-1\.5 {
    margin-top: 0.375rem;
}

.mr-7 {
    margin-right: 1.75rem;
}

.ml-auto {
    margin-left: auto;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-0\.5 {
    margin-top: 0.125rem;
}

.mt-0 {
    margin-top: 0px;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.h-\[712px\] {
    height: 712px;
}

.h-full {
    height: 100%;
}

.h-6 {
    height: 1.5rem;
}

.h-4 {
    height: 1rem;
}

.h-0\.5 {
    height: 0.125rem;
}

.h-0 {
    height: 0px;
}

.h-8 {
    height: 2rem;
}

.h-24 {
    height: 6rem;
}

.h-20 {
    height: 5rem;
}

.h-1 {
    height: 0.25rem;
}

.min-h-screen {
    min-height: 100vh;
}

.w-\[350px\] {
    width: 350px;
}

.w-full {
    width: 100%;
}

.w-40 {
    width: 10rem;
}

.w-4 {
    width: 1rem;
}

.w-10 {
    width: 2.5rem;
}

.w-8 {
    width: 2rem;
}

.w-6 {
    width: 1.5rem;
}

.w-28 {
    width: 7rem;
}

.origin-bottom {
    transform-origin: bottom;
}

.scale-\[0\.85\] {
    --tw-scale-x: 0.85;
    --tw-scale-y: 0.85;
    transform: var(--tw-transform);
}

.scale-95 {
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: var(--tw-transform);
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.place-items-center {
    place-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-2 {
    gap: 0.5rem;
}

.space-x-1> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.25rem * var(--tw-space-x-reverse));
    margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.-space-x-4> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(-1rem * var(--tw-space-x-reverse));
    margin-left: calc(-1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-reverse> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 1;
}

.overflow-hidden {
    overflow: hidden;
}

.rounded-\[60px\] {
    border-radius: 60px;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-2xl {
    border-radius: 1rem;
}

.rounded-3xl {
    border-radius: 1.5rem;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.rounded-xl {
    border-radius: 0.75rem;
}

.rounded-b-3xl {
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.border-\[14px\] {
    border-width: 14px;
}

.border-black {
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.border-black\/20 {
    border-color: rgba(0, 0, 0, 0.2);
}

.bg-purple-50 {
    --tw-bg-opacity: 1;
    background-color: rgba(245, 243, 255, var(--tw-bg-opacity));
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-white\/10 {
    background-color: rgba(255, 255, 255, 0.1);
}

.bg-white\/30 {
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-white\/40 {
    background-color: rgba(255, 255, 255, 0.4);
}

.bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
}

.bg-gray-800\/40 {
    background-color: rgba(31, 41, 55, 0.4);
}

.object-cover {
    object-fit: cover;
}

.p-4 {
    padding: 1rem;
}

.p-2 {
    padding: 0.5rem;
}

.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.font-extralight {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-bold {
    font-weight: 700;
}

.leading-tight {
    line-height: 1.25;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ring {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-purple-400 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(167, 139, 250, var(--tw-ring-opacity));
}

.backdrop-blur-md {
    --tw-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--tw-backdrop-filter);
    backdrop-filter: var(--tw-backdrop-filter);
}

/* password screen */

#swipescreen {
    width: 320px;
    height: 568px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #000000;
    background-image: url('http://img3.themebin.com/iphone-wallpapers/mountain.jpg');
    background-size: 320px 568px;
    padding-top: 20px;
    text-align: center;
}

#lockscreen {
    width: auto;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    z-index: 4;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

    color: #ffffff;
    text-align: center;
}

#lockscreen>p {
    font-size: 14px;
    margin: 70px 0 0 0;
    padding: 0;
}

div.passnum {
    width: 80px;
    height: 80px;
    margin: 0 10px 10px 0;
    display: inline-block;
    border: 1px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

}

div.passnum p {
    font-size: 40px;
    padding: 0;
    margin-top: 2px;
    margin-bottom: -10px;

}

div.passnum span {
    font-size: 12px;
    display: block;
    margin-top: -6px;

}

#passt {
    position: relative;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

}

.shake {
    animation: shake 0.5s;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }

/* slider for hints*/
*{box-sizing: border-box}
/* body { margin:0} */
.mySlides {display: none; margin-top: 2px;margin-bottom: 10px;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 2px;
  margin-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);

}

/* Caption text */
.text {
  color: #080808;
  font-size: 17px;
  padding: 2px 4px;
  position: relative;
  bottom: -15px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: -10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.startButton{
    width: 70px;
    height: 40px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

  