<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Congratulations | Round 2 | GameFlix2.0</title>

    <!-- <link rel="stylesheet" href="tailwind.css" /> -->
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <div style="padding: 2.5%">
      <img src="./images/logo/clublogo.png" alt="logo" width="125px" />
    </div>

    <section id="main">
      <h2 style="color: white; font-weight: 600">Congratulations!!!<br><%= teamName %></h2>
      <br />
      <h3 style="color: white; font-weight: 600">Your Color Is : <%= teamColor %></h3>
      <div class="img-holder">
        <img src="images/shapes/hero-shape-2.svg" alt="" class="img-2" />
      </div>
    </section>
    <div style="text-align: center; font-size: small">
      &copy; Tech Team - iOS Club
    </div>
  </body>
</html>
